@media screen and (max-width: 710px) {
    .background_img {
        min-height: 90vh;
        padding: 0 6%;
        margin-bottom: 60px;
    }

    nav {
        width: 80vw;
        padding: 20px;
        margin: auto;
    }

    nav img {
        height: 30px;
    }

    nav ul {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    .intro_page {
        max-width: 80%;
        padding-top: 30%;
    }

    .intro_page h1 {
        font-size: 55px;
        margin: 5px 0;
    }

    .intro_page p {
        font-size: 16px;
        line-height: 25px;
    }

    .intro_btn {
        width: 100%;
        font-size: 16px;
        margin-top: 30px;
    }

    .printings {
        max-width: 90%;
        margin: auto;
        flex-direction: column-reverse;
        margin-bottom: 80px;
    }


    .print_text {
        padding: 30px 20px;
    }

    .editings {
        flex-direction: column-reverse;
        max-width: 90%;
        margin: auto;
        margin-bottom: 80px;
    }

    .edit_text {
        padding: 30px 20px;
    }

    .btn {
        width: 100%;
        margin-top: 80px;
    }

    .album_sample {
        margin-bottom: 80px;
    }

    .album_sample img {
        width: 90vw;
        height: auto;
        margin-top: 40px;
    }

    .album_sample p {
        font-size: 18px;
        margin: 10px 0;
    }

    .packages h4 {
        font-size: 45px;
        margin-bottom: 25px;
    }

    .packages p {
        font-size: 23px;
        margin-bottom: 25px;
    }

    .packages img {
        width: 90vw;
    }


    footer img {
        height: 40px;
        margin: 20px 8%;
    }

    footer p {
        font-size: 18px;
        margin: 30px 8%;
    }
    
    .footer-row {
        flex-direction: column;
        padding-bottom: 0;
    }
    
    .footer-col {
        max-width: 100%;
        margin-bottom: 80px;
        flex-direction: column;
    }
    
    .footer-col h4 {
        font-size: 30px;
        font-weight: 400;
        margin-bottom: 20px;
    }
    
    .footer-col p {
        font-size: 18px;
    }
    
    .footer-col div img {
        height: 20px;
    }
        
}

@media screen and (max-width: 560px) {
    .background_img {
        padding: 0 7%;
        margin-bottom: 55px;
    }

    .intro_page {
        max-width: 90%;
    }

    .intro_page h1 {
        font-size: 50px;
        margin: 5px 0;
    }

    .print_text h4 {
        margin-bottom: 25px;
        font-size: 35px;
    }

    .print_text p {
        font-size: 18px;
        margin: 6px 0;
    }

    .edit_text h4 {
        margin-bottom: 25px;
        font-size: 35px;
    }

    .edit_text p {
        font-size: 18px;
        line-height: 27px;
    }

    .album_sample img {
        margin-top: 35px;
    }

    .album_sample p {
        font-size: 18px;
        margin: 8px 0;
    }

    .packages h4 {
        font-size: 40px;
        margin-bottom: 23px;
    }

    .packages p {
        font-size: 21px;
        margin-bottom: 23px;
    }
}

@media screen and (max-width: 450px) {
    .background_img {
        padding: 0 4%;
        margin-bottom: 50px;
    }

    nav img {
        height: 25px;
    }

    .intro_page {
        max-width: 100%;
    }

    .intro_page h1 {
        font-size: 50px;
        margin: 5px 0;
    }

    .print_text h4 {
        margin-bottom: 25px;
        font-size: 35px;
    }

    .print_text p {
        font-size: 18px;
        margin: 6px 0;
    }

    .edit_text h4 {
        margin-bottom: 25px;
        font-size: 35px;
    }

    .edit_text p {
        font-size: 18px;
        line-height: 27px;
    }

    .album_sample img {
        margin-top: 35px;
    }

    .album_sample p {
        font-size: 18px;
        margin: 8px 0;
    }

    .packages h4 {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .packages p {
        font-size: 18px;
        margin-bottom: 20px;
    }

    
    footer img {
        height: 30px;
        margin: 15px 6%;
    }

    footer p {
        font-size: 15px;
        margin: 20px 6%;
    }

    .footer-row {
        margin: 20px 6%;
    }
    
    .footer-col {
        margin-bottom: 60px;
    }
    
    .footer-col h4 {
        font-size: 25px;
        margin-bottom: 18px;
    }
    
    .footer-col p {
        font-size: 15px;
    }
    
    .footer-col div img {
        height: 16px;
    }
}

@media screen and (max-width: 380px) {
    .background_img {
        padding: 0 2%;
        margin-bottom: 50px;
    }

    .intro_page {
        padding-top: 40%;
    }

    .intro_page h1 {
        font-size: 45px;
        margin: 2px 0;
    }

    .intro_page p {
        font-size: 12px;
        line-height: 30px;
    }

    .printings {
        margin-bottom: 60px;
        max-width: 95%;
    }

    .print_text h4 {
        margin-bottom: 23px;
        font-size: 32px;
    }

    .print_text p {
        font-size: 16px;
        margin: 6px 0;
    }

    .editings {
        margin-bottom: 60px;
        max-width: 95%;
    }

    .edit_text h4 {
        margin-bottom: 23px;
        font-size: 32px;
    }

    .edit_text p {
        font-size: 16px;
        line-height: 25px;
    }

    .album_sample img {
        max-width: 95%;
        margin-top: 32px;
    }

    .album_sample p {
        font-size: 16px;
        margin: 7px 0;
    }

    .album_sample {
        margin-bottom: 60px;
    }

    .packages h4 {
        font-size: 30px;
        margin-bottom: 18px;
    }

    .packages p {
        font-size: 16px;
        margin-bottom: 18px;
    }

    .packages img {
        max-width: 95%;
    }

    footer img {
        height: 30px;
        margin: 15px 4%;
    }

    footer p {
        font-size: 15px;
        margin: 20px 4%;
    }

    .footer-row {
        margin: 20px 4%;
    }
    
}