@media screen and (max-width: 710px) {
    .background_img {
        min-height: 90vh;
        padding: 0 6%;
        margin-bottom: 60px;
    }

    nav {
        width: 80vw;
        padding: 20px;
        margin: auto;
    }

    nav img {
        height: 30px;
    }

    nav ul {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    .intro_page {
        max-width: 80%;
        padding-top: 200px;
    }

    .intro_page h1 {
        font-size: 70px;
        margin: 5px 0;
    }

    .intro_page p {
        font-size: 20px;
        line-height: 20px;
    }

    .intro_btn {
        width: 100%;
        font-size: 16px;
        margin-top: 30px;
    }

    .printings {
        max-width: 95%;
        margin: 0;
        flex-direction: column-reverse;
        margin-bottom: 80px;
    }


    .print_text {
        padding: 30px 20px;
    }

    .editings {
        flex-direction: column-reverse;
        max-width: 95%;
        margin: 0;
        margin-bottom: 80px;
    }

    .edit_text {
        padding: 30px 20px;
    }

    .btn {
        width: 100%;
    }

    .album_sample img {
        width: 90vw;
        height: auto;
        margin-top: 40px;
    }

    .album_sample p {
        font-size: 20px;
        margin: 10px 0;
    }
}

@media screen and (max-width: 450px) {
    .background_img {
        padding: 0 4%;
        margin-bottom: 50px;
    }

    nav img {
        height: 25px;
    }

    .intro_page {
        max-width: 100%;
        padding-top: 170px;
    }
}

@media screen and (max-width: 364px) {
    .intro_page h1 {
        font-size: 60px;
        margin: 2px 0;
    }

    .intro_page p {
        font-size: 12px;
        line-height: 20px;
    }

}