* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background: rgb(13, 17, 23);
    height: 8000px;
}

.background_img {
    width: 1000;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(11, 11, 54, 0.65)), url("images/background_img.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-bottom: 150px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 8%;
}

.close {
    display: none;
}

nav img {
    height: 45px;
    border-radius: 10px;
    border: #fff 2px;
    margin-right: 20px;
}

.responsivenav {
    display: none;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    display: inline;
    list-style: none;
    margin: 20px;
    font-size: 25px;
    transition: font-size 0.5s ease;
}

nav ul li a {
    text-decoration: none;
    color: rgba(250, 250, 250, 0.75);
}

nav ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    background: #fff;
    margin: auto;
    transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

nav ul li:hover {
    font-size: 30px;
}

nav ul li:hover::after {
    width: 100%;
}

.nav_btn {
    background: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    padding: 5px 10px;
}

.nav_btn:hover {
    background: rgba(255, 255, 255, 0.10);
    font-size: 18px;
}

.mode_img {
    height: 25px;
    border-radius: 0;
}

.intro_page {
    max-width: 60%;
    margin-top: 200px;
    padding: 10px 8%;
}

.intro_page h2 {
    color: #fff;
    font-size: 60px;
    font-family: "Khula", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.studio_name {
    display: flex;
    align-items: center;
    font-size: 60px;
    color: #fff;
}

.studio_name h1 {
    font-size: 80px;
    font-family: "Khula", sans-serif;
    font-weight: 400;
}

.intro_page .studio_name p {
    font-family: "Khula", sans-serif;
    font-weight: 400;
    margin-left: 10px;
    color: #007bff;
    font-size: 80px;
}

.intro_page p {
    color: rgba(250, 250, 250, 0.75);
    font-size: 20px;
    font-weight: 100;
    font-family: "Khula", sans-serif;
    line-height: 40px;

}

.intro_page_btn {
    margin-top: 40px;
    font-size: 30px;
    padding: 12px 24px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.intro_page_btn:hover {
    background-color: #0056b3;
    /* Change color as needed */
}

.printings {
    max-width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.print_text {
    flex-basis: 45%;
    padding: 30px 0;
}

.print_text button {
    margin-top: 60px;
    font-size: 20px;
    background-color: #2c28ff;
    padding: 10px 20px;
    color: rgba(250, 250, 250, 0.80);
    border: 0;
    outline: 0;
    border-radius: 5px;
}

.print_text button:hover {
    background-color: #232186;
}

.print_text h4 {
    color: rgba(250, 250, 250, 0.80);
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 200;
}

.print_text p {
    color: rgba(250, 250, 250, 0.60);
    font-size: 20px;
    font-weight: 100;
    margin: 10px 0;
}

.print_img {
    flex-basis: 45%;
}

.print_img img {
    width: 100%;
    height: auto;
}

.editings {
    max-width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    flex-direction: row-reverse;
}

.edit_text {
    flex-basis: 45%;
    padding: 30px 0;
}

.edit_text h4 {
    color: rgba(250, 250, 250, 0.80);
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 200;
}

.edit_text p {
    color: rgba(250, 250, 250, 0.60);
    font-size: 20px;
    font-weight: 100;
    margin: 10px 0;
}

.edit_vdo {
    flex-basis: 45%;
    display: flex;
    align-items: center;
}

.edit_vdo video {
    width: 100%;
}

.edit_text button {
    margin-top: 60px;
    font-size: 20px;
    background-color: #2c28ff;
    padding: 10px 20px;
    color: rgba(250, 250, 250, 0.80);
    border: 0;
    outline: 0;
    border-radius: 5px;
}

.edit_text button:hover {
    background-color: #232186;
}

.album_sample {
    background: #5453A6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.album_sample img {
    height: 500px;
    width: auto;
    margin-top: 70px;
    
}

.album_sample p {
    font-size: 30px;
    color: rgba(250, 250, 250, 0.80);
    margin: 20px 0;
}